body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #1e1e1e;
  color: white;
  background-image: url(./assets/annie-spratt-osuiatBDTww-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  background-blend-mode: hard-light;
}

h1, h2, h3 {
  font-family: 'Monument', 'inter';
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
